/* Fix font-awesome path  */
@font-face {
	font-family: 'FontAwesome';
    src: url('font/fontawesome-webfont.eot?v=3.1.1');
    src: url('font/fontawesome-webfont.eot?#iefix&v=3.1.1') format('embedded-opentype'),
    url('font/fontawesome-webfont.woff?v=3.1.1') format('woff'),
    url('font/fontawesome-webfont.ttf?v=3.1.1') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,
body {
	height: 100%;
}

.container {
	width: 1170px !important;
}


.hero-unit {
	padding: 40px;
} 

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
	height: 60px;
}
#footer {
	background-color: #161616;
	color: #888888;
}

@media (max-width: 767px) {
	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
#wrap > .container {
	padding-top: 60px;
}
.container .credit {
	margin: 20px 0;
}

code {
	font-size: 80%;
}

/* BS 2.3 Custom to Bostoko / Telkom Themes */
.navbar .navbar-inner {
	background-color: #FFFFFF !important;
}

.navbar .brand { 
	color: rgb(205, 62, 62) !important;
	text-shadow: 0 1px 0 #FFFFFF !important;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
	color: rgb(205, 62, 62) !important; 
	font-weight: bolder !important;
	border-color: rgb(205, 62, 62) !important;
}

.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
  color: #262626;
  border-color: rgb(205, 62, 62) !important;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
	background-color: #CFCFCF;
	font-weight: bold;
}

.navbar .nav > li > a { 
	color: #000000 !important; 
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
	color: #FFFFFF !important; 
	background-color: rgb(205, 62, 62) !important;
}
.nav-list .nav-header {
	color: rgb(205, 62, 62) !important;
}

.nav-list > li > a:hover, .nav-list > li > a:focus, .nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus {
	border-color: rgb(205, 62, 62) !important;
}

.navbar .nav > li > a {
	max-width: 200px !important;
	min-width: 20px  !important; 
}

/* Form sign-in */
.form-signin {
	border: 1px solid #D8D8D8;
	border-bottom-width: 2px;
	border-top-width: 0;
	background-color: #FFF;
	max-width: 350px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #fff;
		-webkit-border-radius: 3px;
		   -moz-border-radius: 3px;
                border-radius: 3px;
}
.form-signin .form-signin-heading {
	font-size: 24px;
	font-weight: 300;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}